body {
  margin: 0;
}
.welcome {
  background-image: url("../image/h_img.jpg");
  color: white;
}
.services {
  background-image: url("../image/s_image.jpg");
  background-size: cover;
  height: 300px;
  background-repeat: no-repeat;
  color: white;
}
#text {
  display: none;
}


.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.containers {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-gap: 80px;
  margin-right: 100px;
  margin-left: 100px;
}

.textalign {
  text-align: center;
}
.contactus {
  background-image: url("../image/c_image.jpg");
  color: white;

}
form{
  width: 700px;
  max-width: 90%;
}
::placeholder{
  color: rgb(204, 204, 204);
}
form input{
  width:49%;
}
form input, form textarea{
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 7px;
}
form textarea{
  margin-top: 20px;
  width: 98.8%;
}
#portfolio{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left:18%;
  margin-right: 16%;
}
.col-md-3 img{
  max-width: 100%;
  max-height: 100%;
}
.portfolio h2{
  text-align: center;
  padding-top:40px;
}
#overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
  display: none;
  color: black;
  width: 100%;
  height: 100%;
  background-color:rgba(255, 255, 255, 0.456);
  position:absolute;
  top: 20px;
  left: 35px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-top: 50%;
  font-family: 'Delius Swash Caps', cursive;
}
@media only screen and (max-width: 755px){
  #overlay,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 20%;
    /* font-size: 16px; */
  }
  .col-md-3 img{
    width:100%px;
    margin: 20px;
  }
  #portfolio{
    margin-left:8%;
    margin-right: 16%;
  }
.col-md.4 {
    display: none;
  }

  .what-we-do{
  text-align: center;
  padding-top: 40px;
}
.what-we-do .headings{
  padding-bottom: 38px;
}
#portfolio{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left:18%;
  margin-right: 16%;
}
.col-md-3 img{
  max-width: 100%;
  max-height: 100%;
}
.portfolio h2{
  text-align: center;
  padding-top:40px;
}
.title{
  padding: 6px;
}
